// @import '../../../core/sass/core';

@import 'partials/vars';
@import 'partials/settings';
@import 'partials/mixins';
@import 'partials/extends';

.base--h4,
.base--STYLED h4 {
  @extend %base--h4;

  font-size: $small-size;
  font-weight: $normal;
  font-style: normal;

  @include breakpoint($increase-font-size){
    font-size: $large-size;
  }
}
