// Color Theme
$color--primary: color('teal', 60);
$color--secondary: color('orange', 50);
$color--accent-one: color('teal', 30);
$color--accent-two: color('orange', 30);
$color--support-one: color('teal', 40);
$color--support-two: color('orange', 60);

$color--white: color('white', core);
$color--neutral-20: color('neutral-white', 20);
$color--neutral-40: color('neutral-white', 40);

$color--gray-10: color('gray', 10);
$color--gray-30: color('gray', 30);
$color--gray-50: color('gray', 50);
$color--gray-60: color('gray', 60);
$color--gray-80: color('gray', 80);
$color--gray-90: color('gray', 90);



