// @import '../../../core/sass/core';

@import 'partials/vars';
@import 'partials/settings';
@import 'partials/mixins';
@import 'partials/extends';

.base--h3,
.base--STYLED h3 {
  @extend %base--h3;

  font-size: $small-size;
  font-weight: $bold;

  @include breakpoint($increase-font-size){
    font-size: $large-size;
  }
}
